img{
    height: 1rem;
}
a{
    text-decoration: none;
}
.votes{
    background-color: lightgray;
    text-align: center;
    padding: 1rem;
}
span{
    margin: 0 ,1rem;
}
span:hover{
    cursor: pointer;
}